{% extends 'base.html' %}
{% load static %}

{% block head%}<link rel='stylesheet' href = "{% static 'milk_app/style.css' %}">{% endblock %}
{% block content %}

<div class="form-container">
    <h2>Add New Milk Entry</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div>
            <label>{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <div class="text-danger">{{ field.errors }}</div>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit">Add Entry</button>
    </form>
</div>
{% endblock %}